body {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%) fixed;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
.date {
  margin: 0px 20px;
}
.weather-container {
  background: linear-gradient(
    90deg,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 30%,
    rgb(252, 239, 250) 40%,
    rgb(234, 251, 251) 70%,
    rgb(240, 251, 244) 100%
  );
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
  border: 1px solid #affaee;
  margin: 20px auto;
  max-width: 460px;
}
.city-weather {
  margin: 20px 30px;
}
h4#city {
  margin: 0px;
}
.temperature {
  font-size: 90px;
  font-weight: 300;
  margin: 0px;
}
.units {
  vertical-align: 50px;
  font-weight: 200;
  margin: 0px;
}
.max-min-temperature {
  margin: 0px 12px;
  padding: 0px;
}
.feels-like {
  text-align: right;
}
img#current-icon {
  float: right;
  margin: 10px 0px;
  max-width: 70%;
}
.weather-description {
  font-size: 14px;
  text-align: right;
  margin: 0px;
  text-transform: capitalize;
}
.current-weather .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
hr {
  border-top: 1px solid #19caad;
}
.week-weather-forecast {
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #affaee;
  text-align: center;
}
img#week-forecast-icons {
  margin: 4px;
  max-width: 60%;
}
.hour-weather-forecast {
  margin: 20px;
  text-align: center;
  text-transform: capitalize;
}
img#hour-forecast-icons {
  margin: 4px;
  max-width: 40%;
}
.freepik-link {
  text-align: center;
}
.open-source-link {
  text-align: center;
}
